{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
{% block hero %}
<div class="jumbotron">
  <div class="container">
      {% blocktrans %}<h1>Athens <br/>Geoportal</h1>{% endblocktrans %}
      <p></p>
      <p></p>
      {% blocktrans %}<h3>A catalog of geospatial data of <br/> Municipality of Athens</h3>{% endblocktrans %}
      {% if not custom_theme.jumbotron_cta_hide %}
      <p><a class="btn btn-default btn-lg" target="_blank" href="{{custom_theme.jumbotron_cta_link|default:_("http://docs.geonode.org/en/master/tutorials/users/index.html")}}" role="button">{{custom_theme.jumbotron_cta_text|default:_("Get Started &raquo;")}}</a></p>
      {% endif %}
  </div>
</div>
{% endblock hero %}
